# Directories
/models/
/outputs/
/extensions/
/Modal Holder/
/Fooocus/
/ComfyUI/

# Large binary files
*.7z
*.zip
*.tar.gz
*.tar
*.rar

# Configuration files
.ui-config

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# System files
.DS_Store
Thumbs.db

# Docker related
.dockerignore
.env

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
