# Directories
/models/
/outputs/
/extensions/
/Modal Holder/
/fooocus/

# Configuration files
.ui-config

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# System files
.DS_Store
Thumbs.db

# Docker related
.dockerignore
.env

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
